@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");

:root {
  --bg-color: hsl(49 37% 94%);
  --typewriterSpeed: 6s;
  --typewriterCharacters: 25;
}

body {
  background: var(--bg-color);
  display: grid;
  font-family: "Source Code Pro", monospace;
  margin: 0;
  min-height: 100vh;
  place-content: center;
  text-align: center;
}

h1 {
  position: relative;
  width: max-content;
}

h1::after,
h1::before {
  bottom: 0;
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
}

h1::before {
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
  background-color: var(--bg-color);
}

h1::after {
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
  background: black;
  width: 0.125em;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  /* Efeito do cursor do mouse. */
  to {
    background: transparent;
  }
}

.subtitle {
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 1s) forwards;
  color: hsl(0 0% 0% / 0.7);
  font-size: 2rem;
  font-weight: 400;
  opacity: 0;
  transform: translateY(3rem);
}

@keyframes fadeInUp {
  /* Animação para o parágrafo. */
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
